@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --nav-link:rgb(21,21,100);
    --nav-link-hover:#e29c06;
    --box-sadow: rgba(0, 0, 0, 0.15);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', serif;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35,35,85);
}
span{
    font-size: .9rem;
    color: #757373;
}
h6{
    font-size: 1.1rem;
    color: rgb(24,24,49);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 10px var(--box-sadow);
}
nav .logo{
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    color: var(--nav-link);
}
nav .logo:hover{
    color: var(--nav-link-hover);
}
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}
nav .navigation ul li{
    margin-left: 30px;
}
nav .navigation ul li a{
    text-decoration: none;
    color: var(--nav-link);
    font-size: 16px;
    font-weight: 500;
    transform: 0.3s ease;
}

nav .navigation ul li a:hover{
    color:var(--nav-link-hover);
}